<div class="col-md-12">
    <div class="pb-3 col-md-4">
        <div class="search-bar">
            <div class="search-form d-flex align-items-center">
              <input type="text" [(ngModel)]="opdSearchField" name="query" placeholder="Search OPD Number">
              <button type="button" (click)="searchData()" title="Search"><i class="bi bi-search"></i></button>
            </div>
          </div>
    </div>
    <div *ngIf="billingList.length > 0">
      <div class="card card-height">
        <div class="card-body">
          <div class="row py-2">
            <div class="col-md-4 mb-3">
                <span>Other Bill</span>
                <input type="text" class="form-control" [(ngModel)]="otherBill">
            </div>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Admission Bill</th>
                  <th scope="col">Lab Bill</th>
                  <th scope="col">Dispensary Bill</th>
                </tr>
              </thead>
              <tbody>
                <tr (click)="loadBillings()" class="table-row" *ngFor="let billing of billingList; let i = index">
                  <td scope="row">{{i+1}}</td>
                  <td>{{billing.admissionBill}}</td>
                  <td>{{billing.labBill}}</td>
                  <td>{{billing.prescriptionBill}}</td>
                </tr>
            </table>

            <div class="justify-content-center">
              <p>Bill: <span class="badge bg-primary badge-number">GHS: {{totalBill}}</span></p>
                <button *ngIf="ad === 'Add Billing' && adb" type="button" (click)="saveBilling()" class="btn btn-success btn-sm">Save Changes</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  
    <div *ngIf="pageView.createView">
      <div class="card">
        <div class="card-body p-5">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Bill No.</th>
                <th scope="col">Admission Bill</th>
                <th scope="col">Lab Bill</th>
                <th scope="col">Dispensary Bill</th>
                <th scope="col">Other Bill</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let billing of billings; let i = index">
                <td scope="row">{{i+1}}</td>
                <td>{{billing.billNo}}</td>
                <td>{{billing.admissionBill}}</td>
                <td>{{billing.labBill}}</td>
                <td>{{billing.prescriptionBill}}</td>
                <td>{{billing.otherBill}}</td>
              </tr>
          </table>
        </div>
      </div>
    </div>
  
  </div>