<div class="modal fade" id="admission" tabindex="-1" data-bs-backdrop="true" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Initiate Admissions for {{selectedPatient?.fullname}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <div *ngIf="pageView.listView">
                <div class="clearfix">
                  <div class="float-end mb-2" style="padding: 5px; border: 1px solid;">
                    <add-new-button (click)="initPatientAdmission()" label="New Admission"></add-new-button>
                  </div>
                </div>
        
                <div class="row py-2">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Date</th>
                        <th scope="col">Lab</th>
                        <th scope="col">Ward</th>
                        <th scope="col">Days</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let admission of patientAdmissionList; let i = index">
                        <td scope="row">{{i+1}}</td>
                        <td>{{admission.admissionDate}}</td>
                        <td>{{admission.labName}}</td>
                        <td>{{admission.roomName}}</td>
                        <td>{{admission.noOfDays}}</td>
                        <td>
                          <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Choose...
                            </button>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" type="button" (click)="editPatientAdmission(admission)">Edit</a></li>
                              <li><a class="dropdown-item text-danger" type="button" (click)="deletePatientAdmission(admission.id)">Delete</a></li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                  </table>
                </div>
          </div>
        
          <div *ngIf="pageView.createView">
                <form class="row g-2" [formGroup]="patientAddmissionForm" (ngSubmit)="savePatientAdmission()">
                  <div class="col-md-4">
                    <label class="form-label">Admission Date<span class="text-danger">*</span></label>
                    <input formControlName="admissionDate" id="admissionDate" type="date" class="form-control">
                    <small *ngIf="field.admissionDate.invalid && field.admissionDate.touched" class="text-danger font-weight-bold"> * This field is required</small>
                  </div>
        
                  <div class="col-md-4">
                    <label>Days<span class="text-danger">*</span></label>
                    <input formControlName="noOfDays" type="text" class="form-control">
                    <small *ngIf="field.noOfDays.invalid && field.noOfDays.touched" class="text-danger font-weight-bold"> * This field is required</small>
                  </div>
          
                  <div class="col-md-4">
                    <label for="gender">Ward<span class="text-danger">*</span></label>
                    <select class="form-control" formControlName="roomId" id="gender">
                      <option *ngFor="let room of roomList" value="{{room?.id}}">{{room?.itemName}}</option>
                    </select>
                    <small class="text-danger" *ngIf="field.roomId.invalid && field.roomId.touched">
                       * This field is required
                    </small>
                  </div>
      
                  <div class="col-md-4">
                    <label>Lab<span class="text-danger">*</span></label>
                    <select class="form-control" formControlName="labId">
                      <option *ngFor="let lab of labList" value="{{lab?.id}}">{{lab?.itemName}}</option>
                    </select>
                    <small class="text-danger" *ngIf="field.labId.invalid && field.labId.touched">
                       * This field is required
                    </small>
                  </div>
                  <div class="justify-content-center">
                    <button type="submit" class="btn btn-success btn-sm">Save Changes</button>
                  </div>
        
                </form>
        
                <button type="button" (click)="pageView.resetToListView()" class="btn btn-secondary btn-sm float-end">Close Page</button>

        
          </div>
        
        </div>
      </div>
    </div>
  </div>
</div>

