<form class="row g-2" [formGroup]="patientVitalForm" (ngSubmit)="savePatientVital()">
    <div class="col-md-4">
      <label class="form-label">BP<span class="text-danger">*</span></label>
      <input formControlName="bp" id="bp" type="text" class="form-control">
      <small *ngIf="field.bp.invalid && field.bp.touched" class="text-danger font-weight-bold"> * This field is required</small>
    </div>

    <div class="col-md-4">
      <label class="form-label">Temperature<span class="text-danger">*</span></label>
      <input formControlName="temp" id="temp" type="text" class="form-control">
      <small *ngIf="field.temp.invalid && field.bp.touched" class="text-danger font-weight-bold"> * This field is required</small>
    </div>

    <div class="col-md-4">
      <label class="form-label">Pulse<span class="text-danger">*</span></label>
      <input formControlName="pulse" id="pulse" type="text" class="form-control">
      <small *ngIf="field.pulse.invalid && field.pulse.touched" class="text-danger font-weight-bold"> * This field is required</small>
    </div>

    <div class="col-md-4">
      <label class="form-label">SpO2<span class="text-danger">*</span></label>
      <input formControlName="spTwo" id="spTwo" type="text" class="form-control">
      <small *ngIf="field.spTwo.invalid && field.spTwo.touched" class="text-danger font-weight-bold"> * This field is required</small>
    </div>

    <div class="col-md-4">
      <label class="form-label">Weight<span class="text-danger">*</span></label>
      <input formControlName="weight" id="weight" type="text" class="form-control">
      <small *ngIf="field.weight.invalid && field.weight.touched" class="text-danger font-weight-bold"> * This field is required</small>
    </div>

    <div class="col-md-4">
      <label class="form-label">Source<span class="text-danger">*</span></label>
      <select class="form-select" aria-label="source Select" formControlName="source">
        <option selected="" disabled="true">Choose...</option>
        <option *ngFor="let source of sourceList" value="{{source?.id}}">{{source?.itemName}}</option>
      </select>
      <small *ngIf="field.source.invalid && field.source.touched" class="text-danger font-weight-bold"> * This field is required</small>
    </div>

    <div class="col-md-4">
      <label class="form-label">Physician<span class="text-danger">*</span></label>
      <select class="form-select" aria-label="physician Select" formControlName="physicianId">
        <option selected="" disabled="true">Choose...</option>
        <option *ngFor="let physician of physicianList" value="{{physician?.id}}">{{physician?.itemName}}</option>
      </select>
      <small *ngIf="field.physicianId.invalid && field.physicianId.touched" class="text-danger font-weight-bold"> * This field is required</small>
    </div>

    <div class="col-md-4">
      <label class="form-label">Comment</label>
      <textarea formControlName="comment" id="comment" type="text" class="form-control"></textarea>
    </div>

    <div class="justify-content-center">
      <button type="submit" class="btn btn-success btn-sm">Save Changes</button>
      <button style="margin-left: 1em;" type="button" class="btn btn-light btn-sm" (click)="resetForm()">Reset</button>
    </div>

  </form>