<div class="col-md-12">
  <div *ngIf="pageView.listView">
    <div class="card card-height">

      <div class="card-body">

        <div class="clearfix">
          <div class="float-end mb-2">
            <a *ngIf="ade === 'Add Employee' && adeb" href="javascript:void(0)" title="New Employee" (click)="initEmployee()"><i style="font-size: 25px;" class="bi ri-add-circle-fill"></i></a>
          </div>
        </div>

        <div class="row py-2">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">First Name</th>
                <th scope="col">Middle Name</th>
                <th scope="col">Other Name</th>
                <th scope="col">Email Addres</th>
                <th scope="col">Phone No.</th>
                <th scope="col">Address</th>
                <th scope="col">Id Type</th>
                <th scope="col">Id No.</th>
                <th scope="col">SSNIT No.</th>
                <th scope="col">Dept.</th>
                <th scope="col">Role</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let emp of employeeList; let i = index">
                <td scope="row">{{i+1}}</td>
                <td>{{emp.title}}</td>
                <td>{{emp.firstname}}</td>
                <td>{{emp.lastname}}</td>
                <td>{{emp.middlename}}</td>
                <td>{{emp.emailAddress}}</td>
                <td>{{emp.phoneNumber}}</td>
                <td>{{emp.address}}</td>
                <td>{{emp.idType}}</td>
                <td>{{emp.idNumber}}</td>
                <td>{{emp.ssnitNo}}</td>
                <td>{{emp.departmentName}}</td>
                <td>{{emp.jobRole}}</td>
                <td>
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Choose...
                    </button>
                    <ul class="dropdown-menu">
                      <li *ngIf="edit === 'Edit Employee' && editb"><a class="dropdown-item" type="button" (click)="editEmployee(emp)">Edit</a></li>
                      <li *ngIf="del === 'Delete Employee' && delb"><a class="dropdown-item text-danger" type="button" (click)="deleteEmployee(emp.id)">Delete</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="pageView.createView">
    <div class="card">
      <div class="card-body p-5">
        <form class="row g-2" [formGroup]="employeeForm" (ngSubmit)="saveEmpoyee()">
          <div class="col-md-4">
            <label class="form-label">First Name <span class="text-danger">*</span></label>
            <input formControlName="firstname" id="firstname" type="text" class="form-control">
            <small *ngIf="field.firstname.invalid && field.firstname.touched" class="text-danger font-weight-bold"> * This field is required</small>
          </div>

          <div class="col-md-4">
            <label>Middle Name</label>
            <input formControlName="middlename" type="text" class="form-control">
          </div>

          <div class="col-md-4">
            <label>Last Name <span class="text-danger">*</span></label>
            <input formControlName="lastname" id="lastname" type="text" class="form-control">
            <small class="text-danger" *ngIf="field.lastname.invalid && field.lastname.touched">
               * This field is required
            </small>
          </div>

          <div class="col-md-4">
            <label>Job Role <span class="text-danger">*</span></label>
            <select class="form-control" formControlName='jobRoleId'>
              <option selected disabled>Choose...</option>
              <option *ngFor="let jobrole of jobRoleList " [value]="jobrole.id">{{jobrole.itemName}}</option>
            </select>
            <small class="text-danger" *ngIf="field.jobRoleId.invalid && field.jobRoleId.touched">
               * This field is required
            </small>
          </div>

          <div class="col-md-4">
            <label for="title">Title<span class="text-danger">*</span></label>
            <select class="form-control" formControlName="title" id="title">
              <option *ngFor="let title of titleList" value="{{title?.id}}">{{title?.itemName}}</option>
            </select>
            <small class="text-danger" *ngIf="field.title.invalid && field.title.touched">
               * This field is required
            </small>
          </div>

          <div class="col-md-4">
            <label>Department<span class="text-danger">*</span></label>
            <select class="form-control" formControlName="departmentId">
              <option *ngFor="let dept of departmentList" value="{{dept?.id}}">{{dept?.itemName}}</option>
            </select>
            <small class="text-danger" *ngIf="field.departmentId.invalid && field.departmentId.touched">
               * This field is required
            </small>
          </div>
          <div class="col-md-4">
            <label>Id Type<span class="text-danger">*</span></label>
            <select class="form-control" formControlName="idType">
              <option *ngFor="let idType of idTypeList" value="{{idType?.id}}">{{idType?.itemName}}</option>
            </select>
            <small class="text-danger" *ngIf="field.idType.invalid && field.idType.touched">
               * This field is required
            </small>
          </div>
          <div class="col-md-4">
            <label>Id No.</label>
            <input formControlName="idNumber" type="text" class="form-control">
            <small class="text-danger" *ngIf="field.idNumber.invalid && field.idNumber.touched">
              * This field is required
           </small>
          </div>
          <div class="col-md-4">
            <label>Email Address</label>
            <input formControlName="emailAddress" type="text" class="form-control">
          </div>
          <div class="col-md-4">
            <label>Phone Number <span class="text-danger">*</span></label>
            <input formControlName="phoneNumber" id="phoneNumber" type="tel" class="form-control">
            <small class="text-danger"
              *ngIf="field.phoneNumber.invalid && field.phoneNumber.touched">
               * This field is required
            </small>
          </div>

          <div class="col-md-4">
            <label>Address</label>
            <input formControlName="address" type="text" class="form-control">
          </div>

          <div class="col-md-4">
            <label>SSNIT No.</label>
            <input formControlName="ssnitNo" type="text" class="form-control">
          </div>
          <div class="col-md-4">
            <label>Can Login</label>
            <input formControlName="canLogin" type="checkbox">
          </div>
          <div class="justify-content-center">
            <button type="submit" class="btn btn-success btn-sm">Save Changes</button>
          </div>

        </form>

        <button type="button" (click)="pageView.resetToListView()" class="btn btn-secondary btn-sm float-end">Close Page</button>
      </div>
    </div>

  </div>

</div>