<div class="col-md-12">
  <div class="row py-2">
    <!-- <h4 style="font-weight: bold;" class="text-muted">Patient Vitals</h4> -->
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Date</th>
          <th scope="col">BP</th>
          <th scope="col">Temperature</th>
          <th scope="col">Pulse</th>
          <th scope="col">SpO2</th>
          <th scope="col">Weight</th>
          <th scope="col">Source</th>
          <th scope="col">Physician</th>
          <th scope="col">Comment</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vital of vitalList; let i = index">
          <td scope="row">{{i+1}}</td>
          <td>{{vital.vitalDate}}</td>
          <td>{{vital.bp}}</td>
          <td>{{vital.temp}}</td>
          <td>{{vital.pulse}}</td>
          <td>{{vital.spTwo}}</td>
          <td>{{vital.weight}}</td>
          <td>{{vital.source}}</td>
          <td>{{vital.physician}}</td>
          <td>{{vital.comment}}</td>
          <td>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Choose...
              </button>
              <ul class="dropdown-menu">
                <li *ngIf="ev === 'Edit Vitals' && evb"><a class="dropdown-item" type="button" (click)="editPatientVital(vital)" data-bs-toggle="modal" data-bs-target="#vitalModal">Edit</a></li>
                <li *ngIf="delv === 'Delete Vitals' && delvb"><a class="dropdown-item text-danger" type="button" (click)="deletePatientVital(vital.id)">Delete</a></li>
              </ul>
            </div>
          </td>
        </tr>
    </table>
  </div>
</div>