<div>
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Configurations</h5>
    
          <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
            <li class="nav-item flex-fill" role="presentation">
              <button class="nav-link w-100 active" id="department-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-department" type="button" role="tab" aria-controls="department" aria-selected="true">Department</button>
            </li>
            <li class="nav-item flex-fill" role="presentation">
              <button class="nav-link w-100" id="jobRole-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-jobRole" type="button" role="tab" aria-controls="jobRole" aria-selected="false">Job Role</button>
            </li>
            <li class="nav-item flex-fill" role="presentation">
              <button class="nav-link w-100" id="lab-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-lab" type="button" role="tab" aria-controls="lab" aria-selected="false">Lab</button>
            </li>
            <li class="nav-item flex-fill" role="presentation">
              <button class="nav-link w-100" id="testType-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-testType" type="button" role="tab" aria-controls="testType" aria-selected="false">Test Type</button>
            </li>
            <li class="nav-item flex-fill" role="presentation">
              <button class="nav-link w-100" id="room-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-room" type="button" role="room" aria-controls="room" aria-selected="false">Ward</button>
            </li>
            <li class="nav-item flex-fill" role="presentation">
              <button class="nav-link w-100" id="roomType-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-roomType" type="button" role="roomType" aria-controls="roomType" aria-selected="false">Ward Type</button>
            </li>
            <li class="nav-item flex-fill" role="presentation">
              <button class="nav-link w-100" id="frequency-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-frequency" type="button" role="frequency" aria-controls="frequency" aria-selected="false">Frequency</button>
            </li>
          </ul>
          <div class="tab-content pt-2" id="borderedTabJustifiedContent">
            <div class="tab-pane fade active show" id="bordered-justified-department" role="tabpanel" aria-labelledby="department-tab">
              <app-department></app-department>
            </div>
            <div class="tab-pane fade" id="bordered-justified-jobRole" role="tabpanel" aria-labelledby="jobRole-tab">
              <app-job-role></app-job-role> 
            </div>
            <div class="tab-pane fade" id="bordered-justified-lab" role="tabpanel" aria-labelledby="lab-tab">
              <app-lab-setting></app-lab-setting>  
            </div>
            <div class="tab-pane fade" id="bordered-justified-testType" role="tabpanel" aria-labelledby="testType-tab">
              <app-test-type></app-test-type>  
            </div>
            <div class="tab-pane fade" id="bordered-justified-room" role="tabpanel" aria-labelledby="room-tab">
                <app-room></app-room>
            </div>
            <div class="tab-pane fade" id="bordered-justified-roomType" role="tabpanel" aria-labelledby="roomType-tab">
                <app-room-type></app-room-type>
            </div>
            <div class="tab-pane fade" id="bordered-justified-frequency" role="tabpanel" aria-labelledby="frequency-tab">
                <app-frequency></app-frequency>
            </div>
          </div>
    
        </div>
      </div>
</div>