<div *ngIf="pageView.listView">
    
    <div class="clearfix">
      <div class="float-end">
        <a *ngIf="vp === 'Add Vital' && vpb" href="javascript:void(0)" title="Add New Vital" (click)="initVital()"><i style="font-size: 25px;" class="bi ri-add-circle-fill"></i></a>
      </div>
    </div>
    <app-patient-vital [vitalList]="vitalList"></app-patient-vital>
</div>
<div *ngIf="pageView.createView">
  <div class="card">
    <div class="card-body p-5">
      <app-vital-form [selectedPatient]="selectedPatient"></app-vital-form>
      <button type="button" (click)="pageView.resetToListView()" class="btn btn-secondary btn-sm float-end">Close Page</button>
      </div>
    </div>
</div>
