<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="#" routerLink="/dashboard/home" class="logo d-flex align-items-center">
        <img src="../../../assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">EHRS</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>
    <div class="search-bar">
      <div class="search-form d-flex align-items-center" >
        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#patient-search">Search Patient</a>
      </div>
    </div>
    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i style="font-size: 20px;" class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">{{assignDrList?.length !== 0 ? assignDrList?.length : 0}}</span>
          </a>

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              <span class="badge rounded-pill bg-primary p-2 ms-2">You have {{assignDrList?.length !== 0 ? assignDrList?.length : 0}} patient assigned</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <div *ngFor="let assign of assignDrList">
            <li class="notification-item">
              <i class="bi bi-info-circle text-primary"></i>
              <div>
                <h4>{{assign.opdNumber}}</h4>
                <p>{{assign.patientName}}</p>
                <p>{{assign.assignTime}}</p>
                <p>{{assign.assignDrStatus}}</p>
              </div>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
          </div>
          </ul>

        </li>

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="../../../assets/img/h1.jpg" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>
          </a>

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>AB</h6>
              <span>Web Designer</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="javascript:void(0)" (click)="logout()">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>
          </ul>
        </li>

      </ul>
    </nav>
    <app-patient-search></app-patient-search>
  </header>