<form [formGroup]="roomForm" (ngSubmit)="saveRoom()">
    <div class="row mb-3">
        <label for="inputText" class="col-sm-4 col-form-label">Ward No. <span class="text-danger">*</span></label>
        <div class="col-sm-8">
            <input formControlName="wardNo" type="text" class="form-control">
            <small *ngIf="field.wardNo.invalid && field.wardNo.touched" class="text-danger font-weight-bold"> * This field is required</small>
        </div>
    </div>
    
    <div class="row mb-3">
        <label class="col-sm-4 col-form-label">Select Ward Type <span class="text-danger">*</span></label>
        <div class="col-sm-8">
          <select class="form-select" aria-label="Ward Select" formControlName="wardTypeId">
            <option selected="" disabled="true">Choose...</option>
            <option *ngFor="let roomType of roomTypeList" value="{{roomType?.id}}">{{roomType?.itemName}}</option>
          </select>
          <small *ngIf="field.wardTypeId.invalid && field.wardTypeId.touched" class="text-danger font-weight-bold"> * This field is required</small>
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputText" class="col-sm-4 col-form-label">Description</label>
        <div class="col-sm-8">
            <textarea formControlName="description" type="text" class="form-control"></textarea>
        </div>
    </div>
      <button type="submit" class="btn btn-success btn-sm mx-2">Save Changes</button>
      <button type="button" class="btn btn-light btn-sm" (click)="resetForm()">Clear Form</button>
</form>
<hr>
<div class="row py-2">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Ward No.</th>
          <th scope="col">Ward Type</th>
          <th scope="col">Description</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let room of roomList; let i = index">
          <td scope="row">{{i+1}}</td>
          <td>{{room.wardNo}}</td>
          <td>{{room.wardTypeName}}</td>
          <td>{{room.description}}</td>
          <td>
            <button class="btn btn-primary btn-sm mx-2" (click)="editRoom(room)">Edit</button>
            <button type="button" class="btn btn-danger btn-sm" (click)="deleteRoom(room.id)">Delete</button>
          </td>
        </tr>
    </table>
  </div>