<div class="col-md-12">
    <div *ngIf="pageView.listView">
      <div class="card card-height">
  
        <div class="card-body">
  
          <div class="clearfix">
            <div class="float-end mb-2" style="padding: 5px; border: 1px solid;">
              <add-new-button (click)="initiateCustomer()" label="New Customer"></add-new-button>
            </div>
          </div>
  
          <div class="row py-2">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Client Type</th>
                  <th scope="col">Customer</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Email Address</th>
                  <th scope="col">Address</th>
                  <th scope="col">Description</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let customer of customerList; let i = index">
                  <td scope="row">{{i+1}}</td>
                  <td>{{customer.clientType}}</td>
                  <td>{{customer.customerName}}</td>
                  <td>{{customer.phone}}</td>
                  <td>{{customer.emailAddress}}</td>
                  <td>{{customer.address}}</td>
                  <td>{{customer.description}}</td>
                  <td>
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Choose...
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" type="button" (click)="editCustomer(customer)">Edit</a></li>
                        <li><a class="dropdown-item text-danger" type="button" (click)="deleteCustomer(customer.id)">Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  
    <div *ngIf="pageView.createView">
      <div class="card">
        <div class="card-body p-5">
          <form class="row g-2" [formGroup]="customerForm" (ngSubmit)="saveCustomer()">
                  
            <div class="col-md-4">
              <label for="clientType">Client Type<span class="text-danger">*</span></label>
              <select class="form-control" formControlName="clientType" id="clientType">
                <option *ngFor="let type of clientTypeList" value="{{type?.id}}">{{type?.itemName}}</option>
              </select>
              <small class="text-danger" *ngIf="field.clientType.invalid && field.clientType.touched">
                 * This field is required
              </small>
            </div>
  
            <div class="col-md-4">
              <label>Customer Name<span class="text-danger">*</span></label>
              <input type="text" class="form-control" formControlName="customerName">
              <small class="text-danger" *ngIf="field.customerName.invalid && field.customerName.touched">
                * This field is required
             </small>
            </div>

            <div class="col-md-4">
                <label>Phone</label>
                <input type="text" class="form-control" formControlName="phone">
            </div>
            <div class="col-md-4">
                <label>Email Address</label>
                <input type="text" class="form-control" formControlName="emailAddress">
              </div>
            <div class="col-md-4">
                <label>Address</label>
                <input type="text" class="form-control" formControlName="address">
            </div>
            <div class="col-md-4">
                <label>Description</label>
                <textarea class="form-control" formControlName="description"></textarea>
            </div>
            <div class="justify-content-center">
              <button type="submit" class="btn btn-success btn-sm">Save Changes</button>
            </div>
  
          </form>
  
          <button type="button" (click)="pageView.resetToListView()" class="btn btn-secondary btn-sm float-end">Close Page</button>
        </div>
      </div>
  
    </div>
  
  </div>