<div class="col-md-12">
    <div class="pb-3 col-md-4">
        <div class="search-bar">
            <div class="search-form d-flex align-items-center">
              <input type="text" [(ngModel)]="opdSearchField" name="query" placeholder="Search OPD Number">
              <button type="button" (click)="searchPatient()" title="Search"><i class="bi bi-search"></i></button>
            </div>
          </div>
    </div>
<div *ngIf="patientSearchList.length > 0">
  <button (click)="loadDrReport()" class="btn btn-sm btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#drReport">Add Notes</button>
    <table class="table pt-3">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Occupation</th>
            <th scope="col">Age</th>
            <th scope="col">Address</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr  (click)="assignPatient(patient)" class="table-row" *ngFor="let patient of patientSearchList; let i = index">
            <td scope="row">{{i+1}}</td>
            <td>{{patient.valueDate}}</td>
            <td>{{patient?.fullname  !== '' ? patient.fullname : '-'}}</td>
            <td>{{patient?.phoneNumber !== '' ? patient.phoneNumber : '-'}}</td>
            <td>{{patient?.occupation !== '' ? patient.occupation : '-'}}</td>
            <td>{{patient.age}}</td>
            <td>{{patient.address}}</td>
          </tr>
    </table>
</div>
      <app-dr-report [selectedPatient]="selectedPatient"></app-dr-report>

      <div *ngIf="pageView.createView">
        <app-activities [selectedPatient]="selectedPatient" [prescriptionList]="prescriptionList"></app-activities>
      </div>
</div>