*{
    font-size: 12px;
}

.table-row:hover{
    background-color: #f9f9ff;
    cursor: pointer;
}

.dropdown-menu .dropdown-item {
    font-size: 14px;
    padding-top: 3px !important;
    padding-right: 8px !important;
    padding-bottom: 3px !important;
    padding-left: 8px !important;
    transition: 0.3s;
}