<div class="col-md-12">
    <div *ngIf="pageView.listView">
      <div class="card card-height">
  
        <div class="card-body">
  
          <div class="clearfix">
            <div class="float-end mb-2" style="padding: 5px; border: 1px solid;">
              <add-new-button (click)="initiateBilling()" label="New Bill"></add-new-button>
            </div>
          </div>
  
          <div class="row py-2">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Bill No.</th>
                  <th scope="col">Patient</th>
                  <th scope="col">Dr. charges (GHS)</th>
                  <th scope="col">Lab charges (GHS)</th>
                  <th scope="col">Room charges (GHS)</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let billing of billingList; let i = index">
                  <td scope="row">{{i+1}}</td>
                  <td>{{billing.billNo}}</td>
                  <td>{{billing.patientName}}</td>
                  <td>{{billing.doctorCharges}}</td>
                  <td>{{billing.labCharges}}</td>
                  <td>{{billing.roomCharges}}</td>
                  <td>
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Choose...
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" type="button" (click)="editBilling(billing)">Edit</a></li>
                        <li><a class="dropdown-item text-danger" type="button" (click)="deleteBilling(billing.id)">Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  
    <div *ngIf="pageView.createView">
      <div class="card">
        <div class="card-body p-5">
          <form class="row g-2" [formGroup]="billingForm" (ngSubmit)="saveBilling()">
                  
            <div class="col-md-4">
              <label for="patientId">Patient<span class="text-danger">*</span></label>
              <select class="form-control" formControlName="patientId" id="patientId">
                <option *ngFor="let patient of patientList" value="{{patient?.id}}">{{patient?.itemName}}</option>
              </select>
              <small class="text-danger" *ngIf="field.patientId.invalid && field.patientId.touched">
                 * This field is required
              </small>
            </div>
  
            <div class="col-md-4">
              <label>Dr. charges<span class="text-danger">*</span></label>
              <input type="text" class="form-control" formControlName="doctorCharges">
            </div>

            <div class="col-md-4">
                <label>Lab charges</label>
                <input type="text" class="form-control" formControlName="labCharges">
              </div>
            <div class="col-md-4">
                <label>Room charges</label>
                <input type="text" class="form-control" formControlName="roomCharges">
              </div>
            <div class="justify-content-center">
              <button type="submit" class="btn btn-success btn-sm">Save Changes</button>
            </div>
  
          </form>
  
          <button type="button" (click)="pageView.resetToListView()" class="btn btn-secondary btn-sm float-end">Close Page</button>
        </div>
      </div>
  
    </div>
  
  </div>